* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}
  
html, body {
    overflow-x: hidden;  
}

.projects {
    display: grid;
    justify-self: center;
    width: 80vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 2% auto 10%;
    grid-template-areas:
    "all-pages__title"
    "projects__line"
    "projects__samples"
    "slider";
}    

.all-pages__title {
    grid-area: all-pages__title;
}

.projects__line {
    grid-area: projects__line;
    display: grid;
    width: 80vw;
    height: 1px;
    justify-self: stretch; 
}

.projects__samples {
    width: 80vw;
    justify-content: center;
    grid-area: projects__samples;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "projects__sample1"
    "projects__sample2"
    "projects__sample3";
}

.slider {
    grid-area: slider;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: flex-end;
    margin-bottom: 6em;
}

.projects__sample1,
.projects__sample2,
.projects__sample3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3em;
}    

.projects__sample1 {
    grid-area: projects__sample1;
}

.projects__sample2 {
    grid-area: projects__sample2;
}

.projects__sample3 {
    grid-area: projects__sample3;
}

.projects__img-part {
    width: 57%;
    background-color: rgb(251, 251, 251);
}

.projects__img {
overflow: hidden;
width: 100%;
max-width: 100%;
height: auto;
}

.projects__text-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 43%;
    background-color: rgb(251, 251, 251); 
    justify-content: center;
    row-gap: 1.5em;
    padding-left: 2em;
}

.projects__h2-title {
    padding-top: 0,5em;
    font-size: 3em;
}

.projects__button-wrapper { 
    display: flex;
    justify-content: flex-start; 
    width: 10%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 1%;
}

.projects__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #FFFFFF;
    color: #333333;
}

.projects__link {
    text-decoration: none;
    cursor: pointer;
    color: *#FFFFFF;
}

.projects__slider-wrapper {
    margin-bottom: 12vh;
    padding-bottom: 6vh;
}





/*Adative - Smartphone 767*/

@media screen and (min-width: 249px) and (max-width:1279px) { 
    
    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    html {
        height: 100%;
    }
    
    html, body {
        overflow-x: hidden;  
    }
    
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        width: 80vw;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 2% auto 10%;
        grid-template-areas:
        "all-pages__title"
        "projects__line"
        "projects__samples"
        "slider";
    }    
    
    .all-pages__title { 
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.5em;
        grid-area: all-pages__title;
        }
    
    .projects__line {
        grid-area: projects__line;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        height: 1px;
        justify-self: stretch; 
        background-color:rgb(242, 242, 242);
        margin-bottom: 2em;
    }

    .projects__samples {
        grid-area: projects__samples;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
    }
    
    .projects__sample1,
    .projects__sample2,
    .projects__sample3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3em;
        min-width: 200px;
    }    
    
    .projects__img-part {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgb(251, 251, 251);
    }
    
    .projects__img {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    }
    
    .projects__text-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(251, 251, 251); 
        justify-content: center;
        row-gap: 1.5em;
        padding-bottom: 5em;
    }
    
    .projects__h2-title {
        padding-top: 0,5em;
        font-size: 2em;
        padding-top: 5%;
    }
    
    .projects__button-wrapper { 
        display: flex;
        flex-direction: row-reverse; 
        justify-content: flex-center; 
        position: relative;
        left: 50px;
        width: 10%;
        max-width: 10%;
        height: auto;
        padding-top: 5em;
    }
    
    .projects__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        height: 4.5em;
        width: 10em;
        background-color: #FFFFFF;
        color: #333333;
        letter-spacing: 0.2em;
        margin-left: 5em;
    }
    
    .projects__link {
        text-decoration: none;
        cursor: pointer;
        color: #FFFFFF;
    }
    
    .projects__slider-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
        padding-bottom: 6vh;
    }
    
    .slider {
        grid-area: slider;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        margin-bottom: 0em;
    }
    
    .footer {
        width: 100vw;
        display: grid;
        grid-template-rows: 55% 45%;
    }
        
    .footer__logo-big {
        display: none;
    }
        
    .footer__content {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
        
    .footer__nav-list {
        display: none;
    }
        
    .footer__address {
        display: none;
    }
        
    .footer__tel {
        display: none;
    }
        
    .footer__email {
        display: none;
    }
        
    .footer__socials-icons-all {
        display: none;
    }
    
    .footer__title {
        font-size: 0.7em;
        font-weight: 400;  
    }
        
    .footer__copyright {
        margin-bottom: 20px;
    }
    
}


/*Adative for desktop*/
@media screen and (min-width:2500px) and (max-width:5001px) { 
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}
  
html, body {
    overflow-x: hidden;  
}

.projects {
    display: grid;
    justify-self: center;
    width: 80vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 2% auto 10%;
    grid-template-areas:
    "all-pages__title"
    "projects__line"
    "projects__samples"
    "slider";
}    

.all-pages__title {
    grid-area: all-pages__title;
}

.projects__line {
    grid-area: projects__line;
    display: grid;
    width: 80vw;
    height: 1px;
    justify-self: stretch; 
}

.projects__samples {
    width: 80vw;
    justify-content: center;
    grid-area: projects__samples;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "projects__sample1"
    "projects__sample2"
    "projects__sample3";
}

.slider {
    grid-area: slider;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: flex-end;
    margin-bottom: 6em;
}

.projects__sample1,
.projects__sample2,
.projects__sample3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3em;
}    

.projects__sample1 {
    grid-area: projects__sample1;
}

.projects__sample2 {
    grid-area: projects__sample2;
}

.projects__sample3 {
    grid-area: projects__sample3;
}

.projects__img-part {
    width: 57%;
    background-color: rgb(251, 251, 251);
}

.projects__img {
overflow: hidden;
width: 100%;
max-width: 100%;
height: auto;
}

.projects__text-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 43%;
    background-color: rgb(251, 251, 251); 
    justify-content: center;
    row-gap: 1.5em;
    padding-left: 2em;
}

.projects__h2-title {
    padding-top: 0,5em;
    font-size: 10em;
}

.text-5000 {
    padding-top: 0,5em;
    font-size: 3em;
}

.projects__button-wrapper { 
    display: flex;
    justify-content: flex-start; 
    width: 10%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 1%;
}

.projects__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    font-size: 3em;
    background-color: #FFFFFF;
    color: #333333;
}

.projects__link {
    text-decoration: none;
    cursor: pointer;
    color: *#FFFFFF;
}

.projects__slider-wrapper {
    margin-bottom: 12vh;
    padding-bottom: 6vh;
}
 
}
