@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,400;1,700&family=Playfair+Display:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;  
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}


/* Header */


.header {
    grid-area: header;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 0.75em;
    margin-bottom: 1.875em;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    
}

.header__logo-container {
    width: 25%;
}

.header__logo-small {
width: fit-content;
height: fit-content;
margin-top: 0.5em;
}

.header__nav {
    display: flex;
    justify-content: flex-start; 
}

.header__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;   
}

.header__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.31em 3.2em;
    text-decoration: none;
    letter-spacing: 0.2em;
    color:#333333;   
}

.header__menu-item:focus {
    border-bottom: 1.2px solid #333333;
    border-top: 1.2px solid #333333;   
}

.header__menu-item:hover {
    border-bottom: 1.2px solid #333333;
    border-top: 1.2px solid #333333;   
}


/* Main part */

/* General section */


.main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: main;
    row-gap: 2em;  
}

.general {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5em;
}

.general__title-block {
    width: 55%;
    grid-area: general__title-block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "main-page__title"
    "slider-main-page";
    row-gap: 3.2em;  
}

.main-page__title {
    grid-area: main-page__title ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
}

.all-pages__title {
    grid-area: all-pages__title; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px; 
}

.h1__title-1 {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 2em;
}
    
.h1__title-2 {
    color:  #333333;
    font-weight: 700;
    font-size: 2em;
}
.general__img-block {
    grid-area: general__img-block;
    position: relative;
}

.general__img {
    width: 100%;
}


/* Slider */

.slider-wrapper {
    width: 80vw;
    display: flex;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.8em;
}

.slider-main-page {
    grid-area: slider-main-page ;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.8em;
}

.slider__text-part {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    margin-top: 1em;
}

.slider__page-number {
    display: flex;
    flex-direction: column;
    padding-top: 0.3em;
    font-weight: 400;
    font-size: 1.5em;
    color: #333333;
}

.slider__page-number-main-page  {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.5em;
    color: #BDBDBD;
}

.slider__divide {
    font-weight: 400;
    font-size: 1.5em;
    border: 1px solid #E0E0E0;
    transform: rotate(35deg);
    height: 1.5em;
    
}

.slider__all-pages-number {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #BDBDBD;
}

.slider__button-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.slider__button-back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(223, 223, 223);
    background-color: white;
}

.slider__button-forward-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(231, 231, 231, 0.3);
    height: 3.3em;
    width: 3.3em;
}

.slider__button-back-link, .slider__button-forward-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 3.3em;
    width: 3.3em;
}


/* Buttons */


.button-color1 {
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #FFFFFF;
    color: #333333;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 1.25em;
}

.button-color2 {
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #333333;
    color:  #FFFFFF;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 1.25em;
}

.general__button-color1 {
    position: absolute;
    left: -0.1em;
    bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


/* About section */


.about {
    width: 80vw;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: 
    "about__img"
    "text-1";
    margin-bottom: 5em;
    column-gap: 3.2em;
}

.about__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "wrapper__about__img-1 wrapper__about__img-3"
    "wrapper__about__img-1 wrapper__about__img-3"
    "wrapper__about__img-2 wrapper__about__img-3";
    column-gap: 3.2em;
    row-gap: 0.6em;
}

.wrapper__about__img-1 {
    grid-area: wrapper__about__img-1;   
}

.wrapper__about__img-2 {
    grid-area: wrapper__about__img-2;

}

.wrapper__about__img-3 {
    grid-area: wrapper__about__img-3;
    display: flex;
    align-items: center;
}

.about__img-1 {
    width: 100%;
}

.about__img-2 {
    width: 100%; 
}

.about__img-3 {
    width: 100%;
}

.text-1 {
    width: 80%;
    color: #000000;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 16px;   
}

.h2-title {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}


/* Mission section */


.mission {
    margin-bottom: 2em;
}
.mission__content {
    display: flex;
    flex-direction: row;
    gap: 3.5em;
}

.mission__title {
    display: flex;
    flex-wrap: nowrap;
}

.mission__part {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6em;
    width: 50%;
} 

.mission__number {
    color: #F2F2F2;
    font-style: normal;
    font-weight: 900;
    font-size: 12em;
    align-items: center;
}

.text-2 {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    word-wrap: break-word;
    width: 100%;
}


/* Projects-overview section */


.projects-overview {
    display: grid;
    width: 80vw;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "projects-overview__title"
    "projects-overview__gallery"
    "projects-overview__button-wrapper";  
}

.projects-overview__title {
    grid-area: projects-overview__title ;
}

.projects-overview__gallery {
    display: grid;
    grid-area: projects-overview__gallery;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-bottom: 2em;
}

.projects-overview__img-1 {
    width: 100%;
    height: 100%;

}

.projects-overview__cover-1 {
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 1em;
}

.overlay__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3em;
    margin-left: 1em;  
}

.overlay__button-color1 {
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 1.2em;
}
.projects-overview__img-2 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-2 {
    grid-row: 1/2;
    grid-column: 3/5;
}

.projects-overview__img-3 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.projects-overview__img-4 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.projects-overview__img-5 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-5 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.projects-overview__button-wrapper {
    display: flex;
    justify-content: flex-end;
    grid-area: projects-overview__button-wrapper; 
    margin-bottom: 2em;
}


/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 6.25em   ;
}

.contact-form__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-bottom: 3.5em;
}

.contact-form__form-part {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas:
    "input__name"
    "input__tel"
    "input__email"
    "input__interests"
    "input__message"
    "input__message"
    "input__message" ;
    row-gap: 0.62em;
    
}

.input__field {
    border: none;
    background-color: #F3F3F3;
    color:#8D8D8D;
    font-size: 0.8em;
    letter-spacing: 0.04em;
    padding-left: 1.25em;
}

.input__name {
    grid-area: input__name;
}

.input__tel {
    grid-area: input__tel;
}

.input__email {
    grid-area: input__email;
}

.input__interests {
    grid-area: input__interests;
}

.input__message {
grid-area: input__message;
}

.contact-form__img-part {
    width: 70%;
}

.contact-form__img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


   /* Footer */

.footer {
    grid-area: footer;
    width: 100vw;
    background-color: #2C2C2C;
    display: grid;
    grid-template-rows: 80% 20% ;
    grid-template-columns: 1fr;
    grid-template-areas:
    "footer__content"
    "footer__copyright";
    justify-items: center;
    color: #FFFFFF;  
    padding-top: 15px;   
}

.footer__content {
    grid-area: footer__content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 20% 30% 30%;
    grid-template-areas:
    "logo-big footer__nav footer__contacts footer__socials";
    width: 80vw; 
}


.footer__nav-list {
    list-style: none;
}

.logo-big {
    grid-area: logo-big; 
}

.footer__title {
    font-size: 1em;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 20px ;
}

.footer__nav-title {
    margin-bottom: 0px;
}

.footer__nav {
    grid-area: footer__nav;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.footer__nav-list {
    padding: 0;
    line-height: 2.9;
}

.footer__contacts {
    
    grid-area: footer__contacts;
    letter-spacing: 0.03em;
}

.footer__address {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 80px;
}

.footer__tel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__email {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__socials {
    grid-area: footer__socials; 
}

.footer__socials-icons-all {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.footer__copyright {
    grid-area:footer__copyright;
    color: rgba(199, 199, 199, 0.5);
    font-size: 0.75em;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    text-align: center;
    width: 100vw;  
    background-color: #2C2C2C;
    padding-top: 25px;
}

.footer__link {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}


/* Mobile styles */

@media screen and (min-width:1024px) and (max-width:5001px) {

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;  
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}


/* Header */


.header {
    grid-area: header;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 0.75em;
    margin-bottom: 1.875em;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    
}

.header__logo-container {
    width: 25%;
}

.header__logo-small {
width: fit-content;
height: fit-content;
margin-top: 0.5em;
}

.header__nav {
    display: flex;
    justify-content: flex-start; 
}

.header__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;   
}

.header__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.31em 3.2em;
    text-decoration: none;
    letter-spacing: 0.2em;
    color:#333333;   
}

.header__menu-item:focus {
    border-bottom: 1.2px solid #333333;
    border-top: 1.2px solid #333333;   
}

.header__menu-item:hover {
    border-bottom: 1.2px solid #333333;
    border-top: 1.2px solid #333333;   
}


/* Main part */

/* General section */


.main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: main;
    row-gap: 2em;  
}

.general {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5em;
}

.general__title-block {
    width: 55%;
    grid-area: general__title-block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "main-page__title"
    "slider-main-page";
    row-gap: 3.2em;  
}

.main-page__title {
    grid-area: main-page__title ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
}

.all-pages__title {
    grid-area: all-pages__title; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px; 
}

.h1__title-1 {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 2em;
}
    
.h1__title-2 {
    color:  #333333;
    font-weight: 700;
    font-size: 2em;
}
.general__img-block {
    grid-area: general__img-block;
    position: relative;
}

.general__img {
    width: 100%;
}


/* Slider */

.slider-wrapper {
    width: 80vw;
    display: flex;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.8em;
}

.slider-main-page {
    grid-area: slider-main-page ;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.8em;
}

.slider__text-part {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    margin-top: 1em;
}

.slider__page-number {
    display: flex;
    flex-direction: column;
    padding-top: 0.3em;
    font-weight: 400;
    font-size: 1.5em;
    color: #333333;
}

.slider__page-number-main-page  {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.5em;
    color: #BDBDBD;
}

.slider__divide {
    font-weight: 400;
    font-size: 1.5em;
    border: 1px solid #E0E0E0;
    transform: rotate(35deg);
    height: 1.5em;
    
}

.slider__all-pages-number {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #BDBDBD;
}

.slider__button-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.slider__button-back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(223, 223, 223);
    background-color: white;
}

.slider__button-forward-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(231, 231, 231, 0.3);
    height: 3.3em;
    width: 3.3em;
}

.slider__button-back-link, .slider__button-forward-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 3.3em;
    width: 3.3em;
}


/* Buttons */


.button-color1 {
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #FFFFFF;
    color: #333333;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 1.25em;
}

.button-color2 {
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #333333;
    color:  #FFFFFF;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 1.25em;
}

.general__button-color1 {
    position: absolute;
    left: -0.1em;
    bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


/* About section */


.about {
    width: 80vw;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: 
    "about__img"
    "text-1";
    margin-bottom: 5em;
    column-gap: 3.2em;
}

.about__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "wrapper__about__img-1 wrapper__about__img-3"
    "wrapper__about__img-1 wrapper__about__img-3"
    "wrapper__about__img-2 wrapper__about__img-3";
    column-gap: 3.2em;
    row-gap: 0.6em;
}

.wrapper__about__img-1 {
    grid-area: wrapper__about__img-1;   
}

.wrapper__about__img-2 {
    grid-area: wrapper__about__img-2;

}

.wrapper__about__img-3 {
    grid-area: wrapper__about__img-3;
    display: flex;
    align-items: center;
}

.about__img-1 {
    width: 100%;
}

.about__img-2 {
    width: 100%; 
}

.about__img-3 {
    width: 100%;
}

.text-1 {
    width: 80%;
    color: #000000;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 16px;   
}

.h2-title {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}


/* Mission section */


.mission {
    margin-bottom: 2em;
}
.mission__content {
    display: flex;
    flex-direction: row;
    gap: 3.5em;
}

.mission__title {
    display: flex;
    flex-wrap: nowrap;
}

.mission__part {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6em;
    width: 50%;
} 

.mission__number {
    color: #F2F2F2;
    font-style: normal;
    font-weight: 900;
    font-size: 12em;
    align-items: center;
}

.text-2 {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    word-wrap: break-word;
    width: 100%;
}


/* Projects-overview section */


.projects-overview {
    display: grid;
    width: 80vw;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "projects-overview__title"
    "projects-overview__gallery"
    "projects-overview__button-wrapper";  
}

.projects-overview__title {
    grid-area: projects-overview__title ;
}

.projects-overview__gallery {
    display: grid;
    grid-area: projects-overview__gallery;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-bottom: 2em;
}

.projects-overview__img-1 {
    width: 100%;
    height: 100%;

}

.projects-overview__cover-1 {
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 1em;
}

.overlay__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3em;
    margin-left: 1em;  
}

.overlay__button-color1 {
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 1.2em;
}
.projects-overview__img-2 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-2 {
    grid-row: 1/2;
    grid-column: 3/5;
}

.projects-overview__img-3 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.projects-overview__img-4 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.projects-overview__img-5 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-5 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.projects-overview__button-wrapper {
    display: flex;
    justify-content: flex-end;
    grid-area: projects-overview__button-wrapper; 
    margin-bottom: 2em;
}


/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 6.25em   ;
}

.contact-form__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-bottom: 3.5em;
}

.contact-form__form-part {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas:
    "input__name"
    "input__tel"
    "input__email"
    "input__interests"
    "input__message"
    "input__message"
    "input__message" ;
    row-gap: 0.62em;
    
}

.input__field {
    border: none;
    background-color: #F3F3F3;
    color:#8D8D8D;
    font-size: 0.8em;
    letter-spacing: 0.04em;
    padding-left: 1.25em;
}

.input__name {
    grid-area: input__name;
}

.input__tel {
    grid-area: input__tel;
}

.input__email {
    grid-area: input__email;
}

.input__interests {
    grid-area: input__interests;
}

.input__message {
grid-area: input__message;
}

.contact-form__img-part {
    width: 70%;
}

.contact-form__img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


   /* Footer */

.footer {
    grid-area: footer;
    width: 100vw;
    background-color: #2C2C2C;
    display: grid;
    grid-template-rows: 80% 20% ;
    grid-template-columns: 1fr;
    grid-template-areas:
    "footer__content"
    "footer__copyright";
    justify-items: center;
    color: #FFFFFF;  
    padding-top: 15px;   
}

.footer__content {
    grid-area: footer__content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 20% 30% 30%;
    grid-template-areas:
    "logo-big footer__nav footer__contacts footer__socials";
    width: 80vw; 
}


.footer__nav-list {
    list-style: none;
}

.logo-big {
    grid-area: logo-big; 
}

.footer__title {
    font-size: 1em;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 20px ;
}

.footer__nav-title {
    margin-bottom: 0px;
}

.footer__nav {
    grid-area: footer__nav;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.footer__nav-list {
    padding: 0;
    line-height: 2.9;
}

.footer__contacts {
    
    grid-area: footer__contacts;
    letter-spacing: 0.03em;
}

.footer__address {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 80px;
}

.footer__tel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__email {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.footer__socials {
    grid-area: footer__socials; 
}

.footer__socials-icons-all {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.footer__copyright {
    grid-area:footer__copyright;
    color: rgba(199, 199, 199, 0.5);
    font-size: 0.75em;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    text-align: center;
    width: 100vw;  
    background-color: #2C2C2C;
    padding-top: 25px;
}

.footer__link {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
}


@media screen and (min-width:375px) and (max-width:1023px) {


html, body {
    overflow-x: hidden;  
}


/* Header */


.header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__menu {
    grid-area: header__menu;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 0.5em;
}




/* Main */

/* Slider */

.general__title-block {
    display: flex;
    flex-direction: column;
    row-gap: 1em; 
}
.slider-main-page {
    display: flex;
    flex-direction: column;  
}

.slider__text-part {
    display: none;
}

.slider__button-part {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

}


/* General section */

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: main; 
    
}

.general {
    width: fit-content;
    display: flex;
    flex-direction: column;
}


.main-page__title {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 0.5em;   
}

.h1__title-1{
    color: #BDBDBD;
    font-weight: 300;
    font-size: 1em;
    padding-right: 0.5em;
    
}

.h1__title-2 {
    color:  #333333;
    font-weight: 700;
    font-size: 1em;
    
}

.general__img-block {
    width: 100vw;
    height: auto;
}

.general__img {
    width: 100vw;
}

.button-color1 {
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #FFFFFF;
    color: #333333;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 1.25em;
}

.general__button-color1 {
    position: absolute;
    left: -0.1em;
    bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* About section */

.about {
    width: 100vw;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "about__img"
    "about__text-part";
}

.about__text-part {
    grid-area: about__text-part;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.text-1 {
    color: #000000;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;
    margin-top: 1em;   
}

.h2-title {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 3em;
    margin: 0.5em 0;
    text-align: center;
}


/* Mission section */


.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;  
}

.mission__part {
    width: 100vw;
    display:flex;
    flex-direction: row;
    padding: 0 20px;  
} 

.mission__title {
    padding: 0 1em;
}

.mission__number {
    width: fit-content;
    font-size: 6em;
}

.text-2 {
    width: fit-content;
    font-size: 1em; 
    word-wrap: break-word;
    width: 85%;
}


/* Projects-overview section */


.projects-overview {
    display: grid;
    align-self: center;   
}

.projects-overview__title {
    display: flex;
    justify-content: center;
}

.projects-overview__gallery {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
}

.projects-overview__img-1 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-1 {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    position: relative;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #333333;
    opacity: 0.8;
    position: absolute;
    left: 0;
    bottom: 1em;
}

.overlay__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5em;
    margin-left: 1.7em;
    
}

.overlay__button-color1 {
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 2.2em;
}


.projects-overview__img-2 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-2 {
    grid-row: 2/3;
    grid-column: 1/3; 
}


.projects-overview__img-3 {
    width: 100%; 
    height: 100%;
}

.projects-overview__cover-3 {
    grid-row: 4/5;
    grid-column: 1/2;
}


.projects-overview__img-4 {
    width: 100%; 
    height: 100%;
}

.projects-overview__cover-4 {
    grid-row: 3/4;
    grid-column: 1/3;
}


.projects-overview__img-5 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-5 {
    grid-row: 4/5;
    grid-column: 2/3; 
}


.projects-overview__button-wrapper {
    display: flex;
    justify-content: center;
}


/* Contact Form */

.contact-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5em;
}

.contact-form__form-part {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas:
    "input__name"
    "input__tel"
    "input__email"
    "input__interests"
    "input__message"
    "input__message"
    "input__message";
    row-gap: 0.62em;   
}

.input__field {
    border: none;
    background-color: #F3F3F3;
    color:#8D8D8D;
    font-size: 0.8em;
    letter-spacing: 0.04em;
    padding-left: 1.25em; 
}

.input__name {
    grid-area: input__name;
}

.input__tel {
    grid-area: input__tel;
}

.input__email {
    grid-area: input__email;
}

.input__interests {
    grid-area: input__interests;
}

.input__message {
grid-area: input__message;
height: 8em;
}

.contact-form__img-part {
    display: none;
}

.contact-form__button-wrapper {
    display: flex;
    justify-content: center;
}


/* Footer */


.footer {
    display: grid;
    grid-template-rows: 55% 45%;
}

.footer__logo-big {
    display: none;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__nav-list {
    display: none;
}

.footer__address {
    display: none;
}

.footer__tel {
    display: none;
}

.footer__email {
    display: none;
}

.footer__socials-icons-all {
    display: none;
}

.footer__title {
    font-size: 1em;
    font-weight: 400;  
}

.footer__copyright {
margin-bottom: 20px;
}
}


@media screen and (min-width:249px) and (max-width:375px) {


html, body {
    overflow-x: hidden;  
}
    
/* Header */
    
.header {
    max-width: 100vw;
}
    
.header__content {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
    
.header__nav {
    width: 100%;
    display: flex;
    justify-self: center;
    
}
    
.header__menu {
    width: 100%;
    display: flex;
    grid-area: header__menu;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 0.5em;
    padding-right: 2em;
}

.header__logo-container {
    display: none;
}
    
.header__logo {
    display: none;
}

    
/* Main */

/* Slider */

.general__title-block {
    display: flex;
    flex-direction: column;
    row-gap: 1em; 
}
.slider-main-page {
    display: flex;
    flex-direction: column;  
}

.slider__text-part {
    display: none;
}

.slider__button-part {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}



/* General section */
    
.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: main;     
}
    
.general {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-page__title {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 0.5em;  
}

.h1__title-1 {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 0.5em;
    padding-right: 0.5em;
    
}

.h1__title-2 {
    color:  #333333;
    font-weight: 700;
    font-size: 0.5em;
}

.general__img-block {
    width: 100vw;
}  
    
.general__img {
    width: 100vw;
}
    
.button-color1 {
    border: none;
    cursor: pointer;
    height: 4.5em;
    width: 14em;
    background-color: #FFFFFF;
    color: #333333;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 1.25em;
}
    
.general__button-color1 {
    position: absolute;
    left: -0.1em;
    bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.7em;
}


/* About section */


.about {
    width: 100vw;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "about__img"
    "about__text-part";
    margin-bottom: 0;
}

.about__text-part {
    grid-area: about__text-part;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.text-1 {
    color: #000000;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;
    margin-top: 1em;   
}


.h2-title {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
}

.about__button-color1 {
    font-size: 0.7em;
    margin-bottom: 0;
}


/* Mission section */


.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
}

.mission__part {
    width: 100vw;
    display:flex;
    flex-direction: row;
    padding: 0 20px; 
} 

.mission__title {
    padding: 0 1em;
}

.mission__number {
    width: fit-content;
    font-size: 4em;
}

.text-2 {
    width: fit-content;
    font-size: 0.7em; 
    word-wrap: break-word;
    width: 85%;
}


/* Projects-overview section */


.projects-overview {
    display: grid;
    align-self: center;   
}

.projects-overview__title {
    display: flex;
    justify-content: center;
}

.projects-overview__gallery {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
}

.projects-overview__img-1 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-1 {
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #333333;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 1em; 
}

.overlay__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 1.5em;  
}

.overlay__button-color1 {
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 2.2em;
    font-size: 0.45em;
}

.projects-overview__img-2 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-2 {
    grid-row: 2/3;
    grid-column: 1/3;
}

.projects-overview__img-3 {
    width: 100%; 
    height: 100%; 
}

.projects-overview__cover-3 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.projects-overview__img-4 {
    width: 100%; 
    height: 100%;
}

.projects-overview__cover-4 {
    grid-row: 3/4;
    grid-column: 1/3;
}

.projects-overview__img-5 {
    width: 100%;
    height: 100%;
}

.projects-overview__cover-5 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.projects-overview__button-wrapper {
    display: flex;
    justify-content: center;
}

.projects-overview__button {
    font-size: 0.5em;
}


/* Contact Form */

.contact-form {
    margin-bottom: 2em ;
}

.contact-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.contact-form__form-part {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas:
    "input__name"
    "input__tel"
    "input__email"
    "input__interests"
    "input__message"
    "input__message"
    "input__message";
    row-gap: 0.62em;   
}

.input__field {
    border: none;
    background-color: #F3F3F3;
    color:#8D8D8D;
    font-size: 0.5em;
    letter-spacing: 0.04em;
    padding-left: 1.25em; 
}

.input__name {
    grid-area: input__name;
}

.input__tel {
    grid-area: input__tel;
}

.input__email {
    grid-area: input__email;
}

.input__interests {
    grid-area: input__interests;
}

.input__message {
grid-area: input__message;
height: 8em;
}

.contact-form__img-part {
    display: none;
}


.contact-form__button-wrapper {
    display: flex;
    justify-content: center;
}

.contact-form__button {
    font-size: 0.5em;
}

    
/* Footer */


.footer {
    width: 100vw;
    display: grid;
    grid-template-rows: 55% 45%;
}
    
.footer__logo-big {
    display: none;
}
    
.footer__content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    
.footer__nav-list {
    display: none;
}
    
.footer__address {
    display: none;
}
    
.footer__tel {
    display: none;
}
    
.footer__email {
    display: none;
}
    
.footer__socials-icons-all {
    display: none;
}

.footer__title {
    font-size: 0.7em;
    font-weight: 400;  
}
    
.footer__copyright {
    margin-bottom: 20px;
}
}